body {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  background: linear-gradient(125deg, #3b8cf7 0%, #f7e70b 100.32%);
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.wrapper {
  background: linear-gradient(125deg, #3b8cf7 0%, #f7e70b 100.32%);
  padding: 20px;
  min-height: 100%;
}

/* container */
.container {
  max-width: 1410px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 32px;
  background: linear-gradient(
    180deg,
    rgba(43, 34, 21, 0.8) -1.22%,
    #22282e 101.33%
  );
  box-shadow: 0px 0px 250px 0px rgba(0, 0, 0, 0.3);
  padding-bottom: 50px;
}
/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.nav__btn {
  max-width: 175px;
  width: 100%;
}

.nav__logo {
  width: 38px;
  height: 47px;
}

.nav__ul {
  display: flex;
  align-items: center;
  gap: 64px;
}

.nav__li {
}

.nav__a {
}

/* main */
.main {
  margin-top: 179px;
  text-align: center;
  max-width: 570px;
  margin-inline: auto;
}

.main__title {
  color: #f2f4f7;
  text-align: center;
  font-size: 72px;
  font-weight: 400;
  max-width: 598px;
  margin-inline: auto;
  margin-bottom: 32px;
}

.main__desc {
  color: #f2f4f7;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  max-width: 598px;
  margin-inline: auto;
  margin-bottom: 80px;
}

.main__btn {
  display: inline-block;
  border: 0;
  outline: 0;
  cursor: pointer;

  border-radius: 999px;
  border: 2px solid #40d0fc;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 600;
  color: #beeb1f;
  min-width: 239px;
  margin-bottom: 64px;
}

/* loading */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/* btn */
.btn {
  display: inline-block;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 999px;
  background: linear-gradient(93deg, #e1e1e1 8.37%, #fff 99.95%);
  box-shadow: 0px 4px 50px 0px rgba(37, 37, 37, 0.08),
    1px 1px 1px 0px rgba(135, 135, 135, 0.32) inset;

  color: #24282e;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 24px;
}

.icon-menu {
  color: #fff;
  font-size: 40px;
  display: none;
}

.nav__btn .material-icons {
  display: none;
}

.menu-burger {
  display: none;
}

@media screen and (max-width: 992px) {
  .nav {
    gap: 15px;
  }

  .rockstar {
    width: 38px;
    height: 47px;
  }

  .nav__btn {
    display: flex;
    justify-content: flex-end;
  }
  .nav__btn .btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav__btn .material-icons {
    display: inline-block;
  }
  .nav__btn .btn__text {
    display: none;
  }

  .main {
    padding: 20px;
  }
}
#menuCheckbox {
  display: none;
}

@media screen and (max-width: 576px) {
  .icon-menu {
    display: inline-block;
  }

  .rockstar {
    width: 38px;
    height: 47px;
  }

  .menu-burger {
    display: block;
  }

  .nav__ul {
    position: fixed;
    left: 0;
    top: 0;
    flex-direction: column;
    padding: 60px;
    height: 100%;
    background: #333;
    transform: translateX(-110%);
    transition: 0.2s all ease-in-out;
  }
  #menuCheckbox:checked ~ .nav__ul {
    transform: translateX(0);
  }
  .main {
    margin-bottom: 50px;
  }
  .main__title {
    font-size: 35px;
  }

  .main__desc {
    font-size: 9px;
    margin-bottom: 50px;
  }

  .main__btn {
    padding: 16px 32px;
    font-size: 18px;
  }
}

@media screen and (max-width: 300px) {
  .loading {
    gap: 15px;
  }
}
